<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bg_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>game_circle_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,84},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_tile_line_click_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>game_tile_line_click_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>game_tile_line_click_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>game_tile_line_sign_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,186},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_material.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:952f2391bfe258ea421fbb7891ca1346:1/1$</string>
            <key>textureFileName</key>
            <string>game_material.png</string>
        </dict>
    </dict>
</plist>
