<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_select_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,320},{3,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,50}}</string>
                <key>sourceSize</key>
                <string>{3,50}</string>
            </dict>
            <key>level_select_bottom_home_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,471},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>level_select_bottom_home_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>level_select_bottom_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,184},{191,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,153}}</string>
                <key>sourceSize</key>
                <string>{191,153}</string>
            </dict>
            <key>level_select_bottom_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,204},{3,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,114}}</string>
                <key>sourceSize</key>
                <string>{3,114}</string>
            </dict>
            <key>level_select_bottom_music_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,494},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>level_select_bottom_music_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,752},{45,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>level_select_bottom_reward_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,663},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>level_select_bottom_reward_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>level_select_bottom_setting_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,533},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>level_select_bottom_setting_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,799},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>level_select_bottom_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{180,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,144}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>level_select_bottom_tip_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,875},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>level_select_home_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>level_select_home_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,703},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>level_select_home_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,607},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>level_select_home_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>level_select_home_icon_comment.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,377},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>level_select_home_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,987},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>level_select_home_icon_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,898},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>level_select_home_icon_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,431},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>level_select_home_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,875},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>level_select_home_start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{344,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,110}}</string>
                <key>sourceSize</key>
                <string>{344,110}</string>
            </dict>
            <key>level_select_loading_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,908},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>level_select_music_audition_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,261},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>level_select_music_audition_button_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,184},{4,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,18}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>level_select_music_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,455},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>level_select_music_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,363},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>level_select_music_image_shelter.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,377},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>level_select_music_level_slot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,897},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>level_select_music_level_slot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,982},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>level_select_music_level_slot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,941},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>level_select_music_scroll_bar_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,507},{110,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,98}}</string>
                <key>sourceSize</key>
                <string>{110,98}</string>
            </dict>
            <key>level_select_music_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>level_select_music_star_1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,943},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>level_select_music_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,797},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>level_select_music_star_2_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,386},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>level_select_reward_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{240,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,101}}</string>
                <key>sourceSize</key>
                <string>{240,101}</string>
            </dict>
            <key>level_select_reward_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,714},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>level_select_reward_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,631},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>level_select_reward_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{223,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,20}}</string>
                <key>sourceSize</key>
                <string>{223,20}</string>
            </dict>
            <key>level_select_reward_progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>level_select_setting_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,791},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>level_select_setting_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,547},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>level_select_setting_icon_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,704},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>level_select_setting_icon_comment.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>level_select_setting_icon_game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,620},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>level_select_setting_icon_language.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,735},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>level_select_setting_icon_more_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>level_select_setting_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,419},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>level_select_setting_icon_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,797},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>level_select_setting_icon_sound_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,768},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>level_select_setting_icon_sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,810},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>level_select_setting_sound_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,608},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>level_select_setting_sound_button_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,566},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>level_select_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,849},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>level_select_top_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,145}}</string>
                <key>sourceSize</key>
                <string>{360,145}</string>
            </dict>
            <key>level_select_top_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,720},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>level_select_top_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{201,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,46}}</string>
                <key>sourceSize</key>
                <string>{201,46}</string>
            </dict>
            <key>level_select_top_icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,995},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>level_select_top_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,596},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>level_select_top_icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,690},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>level_select_top_icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,658},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>level_select_top_life_time_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,434},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_select_material.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1619ac9ebcfcae013cb5858f85c3269:1/1$</string>
            <key>textureFileName</key>
            <string>level_select_material.png</string>
        </dict>
    </dict>
</plist>
