<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,692},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,127}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>end_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{317,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,317}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>end_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,406},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>end_home_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{168,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,169}}</string>
                <key>sourceSize</key>
                <string>{168,169}</string>
            </dict>
            <key>end_leaderboard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>end_new_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{139,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,131}}</string>
                <key>sourceSize</key>
                <string>{139,131}</string>
            </dict>
            <key>end_restart_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,780},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>end_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{203,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,201}}</string>
                <key>sourceSize</key>
                <string>{203,201}</string>
            </dict>
            <key>end_star_1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,512},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,178}}</string>
                <key>sourceSize</key>
                <string>{181,178}</string>
            </dict>
            <key>end_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,135},{209,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,188}}</string>
                <key>sourceSize</key>
                <string>{209,188}</string>
            </dict>
            <key>end_star_2_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,346},{185,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,164}}</string>
                <key>sourceSize</key>
                <string>{185,164}</string>
            </dict>
            <key>end_top_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,83}}</string>
                <key>sourceSize</key>
                <string>{360,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>end_material.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52210e0632d663c50856631197f8f372:1/1$</string>
            <key>textureFileName</key>
            <string>end_material.png</string>
        </dict>
    </dict>
</plist>
