<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>function_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,101},{2,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,3}}</string>
                <key>sourceSize</key>
                <string>{2,3}</string>
            </dict>
            <key>function_pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,105},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>function_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>function_star_1_lighten.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>function_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,105},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>function_star_2_lighten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>function_material.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334e321eba2346d7bfbefae19308f585:1/1$</string>
            <key>textureFileName</key>
            <string>function_material.png</string>
        </dict>
    </dict>
</plist>
